<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<meta name="keyword" content="<?php echo $keyword?>">
	<meta name="description" content="<?php echo $description?>">
	<title><?php echo $_page_title?></title>
	<link rel="stylesheet" href="__ROOT__/public/Home/style/base.css" type="text/css">
	<link rel="stylesheet" href="__ROOT__/public/Home/style/global.css" type="text/css">
	<link rel="stylesheet" href="__ROOT__/public/Home/style/header.css" type="text/css">
	<link rel="stylesheet" href="__ROOT__/public/Home/style/bottomnav.css" type="text/css">
	<link rel="stylesheet" href="__ROOT__/public/Home/style/footer.css" type="text/css">

	<script type="text/javascript" src="__ROOT__/public/Home/js/jquery-1.8.3.min.js"></script>
	<script type="text/javascript" src="__ROOT__/public/Home/js/header.js"></script>
</head>
<body>
<!-- 顶部导航 start -->
	<div class="topnav">
		<div class="topnav_bd w1210 bc">
			<div class="topnav_left">
				
			</div>
			<div class="topnav_right fr">
				<ul>

					<li id="loginInfo"></li>
					<li class="line">|</li>
					<li><a href="__APP__/My/order">我的订单</a></li>
					<li class="line">|</li>
					<li>客户服务</li>

				</ul>
			</div>
		</div>
	</div>
	
	{__CONTENT__}
	<!-- 底部导航 end -->

	<div style="clear:both;"></div>
	<!-- 底部版权 start -->
	<div class="footer w1210 bc mt10">
		<p class="links">
			<a href="">关于我们</a> |
			<a href="">联系我们</a> |
			<a href="">人才招聘</a> |
			<a href="">商家入驻</a> |
			<a href="">千寻网</a> |
			<a href="">奢侈品网</a> |
			<a href="">广告服务</a> |
			<a href="">移动终端</a> |
			<a href="">友情链接</a> |
			<a href="">销售联盟</a> |
			<a href="">京西论坛</a>
		</p>
		<p class="copyright">
			 © 2005-2013 京东网上商城 版权所有，并保留所有权利。  ICP备案证书号:京ICP证070359号 
		</p>
		<p class="auth">
			<a href=""><img src="images/xin.png" alt="" /></a>
			<a href=""><img src="images/kexin.jpg" alt="" /></a>
			<a href=""><img src="images/police.jpg" alt="" /></a>
			<a href=""><img src="images/beian.gif" alt="" /></a>
		</p>
	</div>
	</body>
	</html>
	<!-- 底部版权 end -->
	<script>
		$.ajax({
			type:"get",
			url:"__APP__/Member/ajaxChkLogin",
			dataType:"json",
			success:function(data){
				var li="";
				if(data.login==1){
					li +="<li>您好，"+data.username+"[<a href='__APP__/Member/logout'>退出</a>]";
				}else{
					li +="<li>您好，欢迎来到京西！[<a href='__APP__/Member/login'>登录</a>] [<a href='__APP__/Member/regist'>免费注册</a>] </li>";
				}
				$("#loginInfo ").html(li);
			}
		});
	</script>