<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>ECSHOP 管理中心 - 添加新类型 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/Admin/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/Styles/main.css" rel="stylesheet" type="text/css" />
</head>
<script src="__ROOT__/library/kindeditor/kindeditor.js"></script>
<script type="text/javascript">
    var editor;
    KindEditor.ready(function(e){
        editor= e.create("[name=goods_desc]",{
            width:"660",
            height:"250"
        });
    });
</script>
<body>
<include file="Public:top"/>

<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front" id="general-tab">通用信息</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="__APP__/Attribute/add" method="post">
            <table width="90%" id="general-table" align="center">
                <tr>
                    <td class="label">属性名称：</td>
                    <td>
                        <input  type="text" name="attr_name" value="" />
                    </td>
                </tr>
                <tr>
                    <td class="label">属性类型：</td>
                    <td>
                        <input type="radio" name="attr_type" value="唯一" checked="checked" />唯一
                        <input type="radio" name="attr_type" value="可选"  />可选
                    </td>
                </tr>
                <tr>
                    <td class="label">属性可选值：</td>
                    <td>
                        <textarea rows="6" cols="60" name="attr_option_values"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="label">所属类型：</td>
                    <td>
                        <?php showSelect("type","type_id","id","type_name")?>
                    </td>
                </tr>
                <tr>
                    <td colspan="99" align="center">
                        <input type="submit" class="button" value=" 确定 " />
                        <input type="reset" class="button" value=" 重置 " />
                    </td>
                </tr>
            </table>

        </form>
    </div>
</div>

<include file="Public:footer"/>
</body>
</html>