<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ECSHOP 管理中心 - 库存量 </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/Admin/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/Styles/main.css" rel="stylesheet" type="text/css" />

</head>
<script type="text/javascript" src="__ROOT__/library/jquery/jquery-1.4.js"></script>
<!--鼠标划入高亮显示-->
<script src="__PUBLIC__/js/tron.js"></script>
<script type="text/javascript">
    function addnum(a){
        if($(a).find("input[type='button']").val()=="+"){
            var tr =$(a).parent("tr").clone();
            $(a).parents("table").find("input[type='submit']").parent().parent().before(tr);
            tr.find("input[type='button']").val("-");
        }else{
            $(a).parent("tr").remove();
        }
    }
    
</script>

<body>
<include file="Public:top"/>

<!-- 商品列表 -->
<form method="post" action="__APP__/goods/goods_number" name="listForm">
    <div class="list-div" id="listDiv">
        <table cellpadding="3" cellspacing="1">
            <tr>
                <?php foreach($_gainfo as $k=>$v){?>
                    <th><?php echo $k?></th>
                <?php }?>
                <th>库存量</th>
                <th>操作</th>
            </tr>

            
             <?php if(!empty($gninfo)){?>
                <?php foreach($gninfo as $k0=>$v0){?>
                    <tr>
                        <?php $gaCount=count($_gainfo); ?>
                        <?php  foreach($_gainfo as $k=>$v){ ?>
                            <input type="hidden" name="goods_id" value="<?php echo $v[0]["goods_id"] ?>"/>
                            <td>
                                <select name="good_attr_id[]">
                                    <option value="">请选择</option>
                                    <?php foreach($v as $k1=>$v1){
                                         $_arr=explode(",",$v0['goods_attr_id']);
                                        if(in_array($v1['id'],$_arr)){
                                            $select="selected='selected'";
                                        }else{
                                            $select="";
                                        }
                                    ?>
                                        <option <?php echo $select?> value="<?php echo $v1['id']?>"><?php echo $v1['attr_value']?></option>
                                    <?php }?>
                                </select>
                            </td>
                        <?php }?>
                        <td align="center"><input type="text" name="goods_number[]" value="<?php echo $v0['goods_number']?>"></td>
                        <td align="center" onclick="addnum(this)"><input type="button" neme="butt" value="<?php if($k0==0){echo "+";}else{echo "-";}?>"/></td>
                    </tr>
                <?php }?>
                <tr align="center">
                    <td colspan="<?php echo $gaCount+2?>"><input type="submit" value="提交"/></td>
                </tr>
             <?php }else{?>  
                <tr>
                    <?php $gaCount=count($_gainfo); ?>
                    <?php  foreach($_gainfo as $k=>$v){ ?>
                        <input type="hidden" name="goods_id" value="<?php echo $v[0]["goods_id"] ?>"/>
                        <td>
                            <select name="good_attr_id[]">
                                <option value="">请选择</option>
                                <?php foreach($v as $k1=>$v1){?>
                                    <option value="<?php echo $v1['id']?>"><?php echo $v1['attr_value']?></option>
                                <?php }?>
                            </select>
                        </td>
                    <?php }?>
                    <td align="center"><input type="text" name="goods_number[]"></td>
                    <td align="center" onclick="addnum(this)"><input type="button" neme="butt" value="+"/></td>
                </tr>
                <tr align="center">
                    <td colspan="<?php echo $gaCount+2?>"><input type="submit" value="提交"/></td>
                </tr>
            <?php }?>
        </table> 
    </div>
</form>
<include file="Public:footer"/>
</body>
</html>
